# Set default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always normalize and convert
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.js text
*.jsx text
*.css text
*.html text
*.json text
*.md text
*.sh text
*.yml text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
